<section class="card">
  <div class="card-body">
    <h1>
      About
    </h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores, veniam
      cum eligendi nostrum accusamus soluta dolorum inventore praesentium
      repudiandae numquam magni illo doloremque? Alias eius omnis consectetur
      eveniet facere deleniti!</p>
  </div>

</section>