<div class="container mt-4">
    <div class="jumbotron">
        <h1 class="display-4">Product app</h1>
        <p class="lead">Welcome to our online store. Discover a wide range of products.</p>
        <hr class="my-4">
        <p>Explore our categories and find the best products at the best prices.</p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Vegetables</h5>
                    <p class="card-text">Description of product 1.</p>
                    <a href="/users/signup" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>  

        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Fruits</h5>
                    <p class="card-text">Description of product 2.</p>
                    <a href="/users/signup" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>
    </div>
</div>
