<div class="jumbotron mt-4">
  <div class="display-4">Product App</div>
  <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Officiis, commodi tenetur debitis molestias doloremque saepe sit nobis
    voluptate cum minus. Neque natus recusandae accusantium, consectetur impedit
    soluta voluptates dignissimos tempore.</p>
  <hr class="my-4" />
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam cumque
    rerum quae nihil dolor at labore laborum illum beatae alias, minus fugiat
    nostrum facilis quo, reiciendis, porro nobis eum velit.</p>
  <a href="https://facebook.com/" target="_blanks" class="btn btn-primary">facebook</a>
  

</div>