
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(14, 65, 65);
}
.nav-item a:hover {
    text-decoration: none;
    background-color: none;
    color: #fff;

}

a{
    display: flex;
    text-align: center;
    justify-content: center;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
